@page "/Reservation"
<div class="content">
    <div class="panel panel-default">
        <button id="selectRooms" class="btn btn-primary"
                @onclick="@ShowSelectRooms">
            valitse tilat
        </button>
        <CascadingValue Value="this">
            <SelectRooms @ref="SelectRooms" />
        </CascadingValue>
        <CascadingValue Value="this">
            <ReservationCalendars @ref="ReservationCalendars" />
        </CascadingValue>
    </div>
 <div class="w3-container"
         id="tilat"
         style=" float: left;width:100%;background-color: aqua; height: 90vh">
        <label>dfödsfködsködks</label><br>
        <input type="radio" class="w3-radio" name="searchfield" value="2">
        ¨<p>.,gfhfg.hggf.,hm gfhögfdhdghög-gh.,ögh,hg.,- dflkdfölkdsf ö öldsfkösdfk ödslfksdöflk sdfölksdf lölfsd ösfd</p>
    </div>
</div>
@code {
      public SelectRooms SelectRooms { get; set; }
      private ReservationCalendars ReservationCalendars { get; set; }
      
      protected async Task ShowSelectRooms()
        {
            await SelectRooms.ShowSelectRooms();
        }

        public async Task LoadCalendars()
        {
            //await ReservationCalendars.LoadCalendars();
        }
}
