@page "/"

<PageTitle>Start2</PageTitle>
<div class="container">
    <h2>Start2 HTML+javascript version</h2>
    <p>
        Start2 HTML+javascript version is implemeted plain HTM5  and javascript css library is 
        <a href="https://www.w3schools.com/w3css/" target="_blank">w3.css</a>
        Site uses same web-api as counterpart Blazor webassembly 
    </p>
    <p>
        You can login with following information username: Jari Password: Jari
    </p>

</div>
@code {
 }

