@if (!string.IsNullOrEmpty(Value))
{
    <div Style="position:absolute;z-index:9999;width:100%"
         class="alert alert-warning" role="alert">
        @Value
    </div>
}
@code {
    private string Value = string.Empty;
    private bool operationOK = true;
    public async void Show(bool ok, string? value)
    {
        if (value == null) return;
        operationOK = ok;

        Value = value.Replace("\"","");
        StateHasChanged();
        await Task.Delay(5000);
        Hide();
    }
    public void ShowNoTimeOut(bool ok, string value)
    {
        operationOK = ok;
        Value = value;
        StateHasChanged();
    }

    public void Hide()
    {
        Value = "";
        StateHasChanged();

    }

}